<%= render 'shared/errors', obj: @group %>
<%= form_with model: @group do |f| %>
<div class="md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:mx-auto w-full mt-10 md:mt-0">

  <div class="relative mb-4">
    <label for="category-name" class="leading-7 text-sm text-gray-600">Category name</label>
    <%= f.text_field :name, class: "w-full bg-white rounded border border-gray-300 focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
  </div>
  <div class="relative mb-4">
    <label for="icon" class="leading-7 text-sm text-gray-600">Change icon: *</label>

    <div class="flex flex-wrap sm:mx-auto sm:mb-2 -mx-2">
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-birthday-cake fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-birthday-cake"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-cutlery fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-cutlery"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-plane fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-plane"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-gamepad fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-gamepad"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-car fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-car"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-home fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-home"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-medkit fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-medkit"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-gift fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-gift"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-mobile fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-mobile"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-space-shuttle fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-space-shuttle"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-graduation-cap fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-graduation-cap"%></span>
        </div>
      </div>
      <div class="p-2 sm:w-1/3  md:w-1/4 lg:w-1/6">
        <div class="bg-gray-100 rounded flex p-4 h-full items-center">

          <i class="p-1 fa fa-dribbble fa-md text-blue-600"></i>

          <span class="title-font font-medium"><%= f.radio_button :icon ,"fa fa-dribbble"%></span>
        </div>
      </div>

    </div>
  </div>


  <%= f.submit class: "text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg"%>


</div>
<% end %>
