
<div class="container-fluid cont-background d-flex  align-items-center fixed-top">

  <div class="row no-gutters d-flex justify-content-between align-items-center w-100 mx-auto mt-3">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <a href="/profile"><i class="fas fa-bars h3 text-white"></i></a>
      <span class="h3 text-white ml-2 ">Group</span>
      <i class="fas fa-search h3 text-white"></i>
    </div>
  
    <div class="row d-flex justify-content-start align-items-center w-100 mx-auto">

      <div class="mt-4 col-1 p-0">
        <span>
          <a href="/transactions"><i class=" fas fa-arrow-left fa-2x text-white"></i></a>
          <hr class= "border m-1 hiden-line">
        </span>
      </div>
      

      <div class="mt-4 col-10 d-flex flex-column justify-content-center align-items-center">
        <span class="h6 text-white text-center my-0">Add a new group</span>
        <hr class= "border border-white m-1">
      </div>

      
    </div>
  </div>
</div>

<div class="sticky-container2" >
  <div class="group-spacer">
  </div>

  <%= simple_form_for(@group) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs mx-2"">
      <%= f.input :name, required: true, label_html: { class: 'text-dark h4' } %>

      <%= f.label :icon, class: 'text-dark h4'%>

      <div class="d-flex jsutify-contente-between flex-wrap">
        <div class="mx-1 my-1"><i class="fas fa-glass-cheers fa-2x"></i><%= f.radio_button :icon ,"fa-glass-cheers"%></div>
        <div class="mx-1 my-1"><i class="fas fa-car fa-2x"></i><%= f.radio_button :icon ,"fa-car"%></div>
        <div class="mx-1 my-1"><i class="fas fa-plane fa-2x"></i><%= f.radio_button :icon ,"fa-plane"%></div>
        <div class="mx-1 my-1"><i class="fas fa-trash-alt fa-2x"></i><%= f.radio_button :icon ,"fa-trash-alt"%></div>
        <div class="mx-1 my-1"><i class="fas fa-laptop fa-2x"></i><%= f.radio_button :icon ,"fa-laptop"%></div>
        <div class="mx-1 my-1"><i class="fas fa-money-bill-wave fa-2x"></i><%= f.radio_button :icon ,"fa-money-bill-wave"%></div>
        <div class="mx-1 my-1"><i class="fas fa-mobile-alt fa-2x"></i><%= f.radio_button :icon ,"fa-mobile-alt"%></div>
        <div class="mx-1 my-1"><i class="fas fa-handshake fa-2x"></i><%= f.radio_button :icon ,"fa-handshake"%></div>
        <div class="mx-1 my-1"><i class="fas fa-shipping-fast fa-2x"></i><%= f.radio_button :icon ,"fa-shipping-fast"%></div>
        <div class="mx-1 my-1"><i class="fas fa-credit-card fa-2x"></i><%= f.radio_button :icon ,"fa-credit-card"%></div>
        <div class="mx-1 my-1"><i class="fas fa-receipt fa-2x"></i><%= f.radio_button :icon ,"fa-receipt"%></div>
        <div class="mx-1 my-1"><i class="fas fa-utensils fa-2x"></i><%= f.radio_button :icon ,"fa-utensils"%></div>
        <div class="mx-1 my-1"><i class="fas fa-pencil-alt fa-2x"></i><%= f.radio_button :icon ,"fa-pencil-alt"%></div>
        <div class="mx-1 my-1"><i class="fas fa-cog fa-2x"></i><%= f.radio_button :icon ,"fa-cog"%></div>
        <div class="mx-1 my-1"><i class="fas fa-globe fa-2x"></i><%= f.radio_button :icon ,"fa-globe"%></div>
        <div class="mx-1 my-1"><i class="fas fa-shopping-cart fa-2x"></i><%= f.radio_button :icon ,"fa-shopping-cart"%></div>
      </div>
    </div>

    <div class="form-actions mx-2 mt-2">
      <%= f.button :submit,  class: 'btn btn-success btn-block' %>
    </div>
  <% end %>
</div>
