
<div class="max-w-md w-full space-y-8">
    <div>
        <div>
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" style="position:relative; display: block; margin: 0 auto;"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 300 300" width="120px" >
                <g>
                    <path style="fill:#009E81; transform-origin: center center;"
                        d="M127.6,195.2l-58.4-33.6v79.2c17.6,9.2,37.6,14.4,58.4,14.4c25.2,0,48.8-7.2,68.4-20L127.6,195.2z" />
                    <path style="fill:#00B594; transform-origin: center center;"
                        d="M186,161.2l-58.4,34l68.4,39.6c35.6-22.8,58.8-62.4,58.8-107.2c0-2,0-4,0-6L186,161.2z" />
                    <path style="fill:#009E81; transform-origin: center center;" d="M186,94v67.6l68.4-39.6c-2-46.8-29.2-86.8-68.4-107.2V94z" />
                    <path style="fill:#00B594;"
                        d="M127.6,60L186,93.6V14.4C168.4,5.2,148.4,0,127.6,0c-25.2,0-48.8,7.2-68.4,20L127.6,60z" />
                    <path style="fill:#009E81; transform-origin: center center;"
                        d="M69.2,94l58.4-34L59.2,20.4C23.6,43.2,0.4,82.8,0.4,127.6c0,2,0,4,0,6L69.2,94z" />
                    <path style="fill:#00B594; transform-origin: center center;" d="M69.2,161.2V93.6L0.8,133.2C2.8,180,30,220,69.2,240.4V161.2z" />
                </g>
            </svg>
        </div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-00">
            <%= text_form(@user) %><span class="text-green-600"> Edx Wallet</span>
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
            All your
            <a href="#" class="font-medium text-green-600">
                purchasing & expenses
            </a>
            in a single place
        </p>
    </div>

    <% if @user.errors.any? %>
    <div class="bg-yellow-200 p-5 text-gray-500">
        <span class="closebtn font-extrabold text-3xl" onclick="this.parentElement.style.display='none';">&times;</span>
        <p class="text-red-500">The following errors prevented the creation of a new user</p>
        <ul class="ml-8">
            <% @user.errors.full_messages.each do |msg| %>
            <li class="list-disc"><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <%= form_with model: @user, method: "post" do |f| %>

    <div class="rounded-md shadow-sm -space-y-px">
        <div>
            <%= f.label :username, class: "sr-only" %><br>
            <%= f.text_field :username, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Create a new username" %>
            <%= f.file_field :avatar, class: 'text_white', label:"Upload Profile Picture", label_html: { class: 'text-white h4' }%>
        </div>
    </div>


    <button type="submit"
        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-b-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <!-- Heroicon name: lock-closed -->
            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    clip-rule="evenodd" />
            </svg>
        </span>
        <%= button_form(@user) %>
    </button>

    <% end %>

    <% unless current_user.nil?%>
    <%= link_to "Logout", logout_path, method: :delete %>
    <% end %>

</div>
