<!DOCTYPE html>
<html>
  <head>
    <title>Edx Wallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/nav' %>
  
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <%= render 'layouts/msg' %>
    <%= yield %>
  </body>
</html>
